<h1><%=  @sub.title%></h1>
<table>
  <tr>
    <th>Moderator:</th>
    <td><%=  @sub.moderator.username%></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%=  preserve_newline(@sub.description)%></td>
  </tr>
</table>

<% if @sub.moderator_id == current_user.id %>
  <%= link_to "Edit", edit_sub_url(id: @sub.id) %>
  <%= link_to "Delete", sub_url(id: @sub.id), method: :delete%>
<% end %>

<h2>Posts</h2>
<table>
  <% @sub.posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post.title, post_url(post.id) %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td><br></td>
  </tr>
  <tr>
    <td>
      <%= link_to "New Post", new_post_url(sub_ids: [@sub.id]) %>
    </td>
  </tr>
</table>
